.Qty-btn {
    background-color: inherit;
    position: relative;
    padding: 15px;  
  
    border: 1px solid #6c757d;
    border-radius: 5px;


}
.Qty-icon {
    font-size: medium;

    color:white ;
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Qty-input {
    width: 30px;
    border: none;
    text-align: center;

}
.Qty{
    display: flex;
    margin-top: 15px;
    margin-left: 7px;

    background-color:#6c757d;
   
    border: 1px solid #6c757d;
    border-radius: 5px;
    width: fit-content;

}